/*

!.gitignore
!images/
!chapters/
!main.tex
!preamble.tex
!thesis-style.sty

!style.tex
!header.tex

# Recursively ignore everything in chapters/, then un-ignore .tex
chapters/**/*
!chapters/**/
!chapters/**/*.tex

# Ignore Python cache directories everywhere.
**/__pycache__/